<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	# check size
	RewriteCond %{REQUEST_FILENAME} -s [OR]
	# check link
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	# check directory
	RewriteCond %{REQUEST_FILENAME} -d

	# if something condition is true - return it as is
	RewriteRule ^.*$ - [NC,L]

    # if it's started with /display/
    RewriteRule ^display\/(.*)$ display.php?file=$1 [NC,L]

	# else route to one file
	RewriteRule ^.*$ display.php?file=rewrite [NC,L]
</IfModule>